.darkturquoise {
    text-shadow: 1px 1px white;
    color: #333;
}
#progressBarContainer {
    margin: auto;
    position: relative;
    width:300px;
}

#progressBar {
    background: linear-gradient(270deg, #8de1cb, #d7e1ec, #73a6dd, #0d3b6c, #3970aa, #06e7ff, #32858e, #c8cfd0);
    background-size: 400% 400%;
    height: 4px;
    border-radius: 20%;
    width: 100%;
    -webkit-animation: progress 2500ms ease;
    -moz-animation: progress 2500ms ease;
    animation: progress 2500ms ease;
}

@keyframes progress {
    100% {
        width: 0%;
        background-position:0% 50%;
    }
    50% {
        background-position:100% 50%;
    }
    0% {
        width: 100%;
        background-position:0% 50%;
    }
}
@-webkit-keyframes progress {
    100% {
        width: 0%;
        background-position:0% 50%;
    }
    50% {
        background-position:100% 50%;
    }
    0% {
        width: 100%;
        background-position:0% 50%;
    }
}
@-moz-keyframes progress {
    100% {
        width: 0%;
        background-position:0% 50%;
    }
    50% {
        background-position:100% 50%;
    }
    0% {
        width: 100%;
        background-position:0% 50%;
    }
}
